<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
	  
		$(window).scroll(function(){
			if ($(this).scrollTop() > 300) {
				$('.scrollup').fadeIn();
			} else {
				$('.scrollup').fadeOut();
			}
			});
			  
			$('.scrollup').click(function(){
			$("html, body").animate({ scrollTop: 0 }, 600);
			return false;
		});
	  
    $('input').change(function() {
    $('div.hideble').hide();
      if ($('input[value="button1').is(':checked')) {
        $('div.button1').show();
      }
      else if ($('input[value="button2').is(':checked')) {
        $('div.button2').show();
      }
      else if ($('input[value="button3').is(':checked')) {
        $('div.button3').show();
      }
      else {
        $('div.hideble').hide();
      }
    });

    $("a").smoothScroll({offset: -20});

// Inline popups
$('#inline-popups').magnificPopup({
  delegate: 'a',
  removalDelay: 500, //delay removal by X to allow out-animation
  callbacks: {
    beforeOpen: function() {
       this.st.mainClass = this.st.el.attr('data-effect');
    }
  },
});

});
  

var ref=document.referrer;
var refArr=ref.split('/');
ref=refArr[3];
//alert(ref);

if (ref=='preparation-emu') {document.getElementById('selector').classList.add('hide');}

</script>

<script src="{{ '/assets/js/main.min.js' | absolute_url }}"></script>
<script src="{{ '/assets/js/main.js' | absolute_url }}"></script>
